.dropdown-content
{
position: absolute;
border: 3px solid black;
width: 15%;
height: 15%;
z-index: 1;
margin-top: auto;
margin-left: -12px;
}
#scrollUp{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    width: 5%;
    height: 15%;
    margin-bottom: -3.5%;
    text-align: center;
    font-size: 30px;
    border: 3px solid #242222;
    border-radius: 30%;
}
#scrollUp:hover{
background-color: #ffc252;
margin-bottom: -3%;
width: 6%;
}

.hoverGame>img{
    border: 2px solid #242222;
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
    transition: 0.5s;
}
.aboutGame{
    font-size: 30px;
}
@keyframes scrollUpA {
 50%{height: 3%;}
 75%{height: 4%;}
 100%{height: 10%;}
}
#logo{
filter: invert(1);
}
.button-lg:hover
{
    padding: 10% !important;
}
#review
{
    font-size: 40px;
}

#dlcButton, #pictureButton, #dropdownButton, #infoButton
{
    transition: 0.5s;
}
#dlcButton:hover, #pictureButton:hover, #dropdownButton:hover, #infoButton:hover
{
    padding: 1.2% !important;
    transition: 0.5s;
}
#menu
{
    height: 1%;
    width: 5%;
    
}
.bi-list
{
    filter: invert(1) !important;
}
.imgText
{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.pointer
{
    cursor: pointer;
}
.csgoBackground
{
    background-image: url("../image/csgo/image_csgo1.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    box-shadow: inset 0 0 100px rgb(122, 121, 115);

}
.blurBackground
{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

#csgoText
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    margin-bottom: 10%;
    transition: 0.5s;
    width: 70%;
    z-index: -1;
    text-align: center;
}
.hoverGame:hover #csgoText
{
    transition: 0.5s;
    background-color: rgba(61, 123, 156);
    z-index: 1;
}
.hoverGame
{
    transition: 0.5s;
    transform: scale(0.95);
}
.hoverGame:hover
{
    transform: scale(1);
    transition: 0.5s;
    filter: saturate(2)
}
.loginForm
{
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: #242222;
    padding-left: 2%;
    width: 25%;
    height: 50%;
    margin-top: 10%;
    margin-left: 36.5%;
    border: solid 3px;
    border-radius: 20%;
    overflow: auto;
    box-shadow: 5px 5px;
    display: none;
}
.loginButton
{
    background-color: #ffa500;
    border: 1px black solid;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    transition: 0.5s;
}
.loginButton:hover, .loginFormButton:hover
{
    background-color: #ffc252;
    transition: 0.5s;
}
.inputLogin
{
background-color: #242222;
border-right: #242222;
border-bottom: white  solid;
border-radius: 3px;
width: 100%;
padding: 3%;
margin-bottom: 5%;
}
.inputLogin:focus
{
    background-color: orange;
    transition: 0.5s;
}
.loginItems 
{
    background-color: #242222;
    width: 90%;
    margin-top: 1%;
    padding: 2%;
    color: white;
    height: 80%;
}
.loginFormFont
{
    color: orange;
    border-bottom: 1px orange solid;
    text-align: center;
    padding-bottom: 3%;
}
.loginFormButton{
border: 0px solid white;
border-radius: 3px;
width: 5%;
height: 40px;
background-color: orange;
margin-top: 1%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
transition: 0.5s;
}

.bg-orange
{
    background-color: orange;
}
#dbdHtml, #csgoHtml
{
    cursor: pointer;
}
.footerBorder
{
 border: 2px solid #242222; 
 border-radius: 10px;   
}
.footerSize
{
    height: 50px;
}
/*
.csgoHover:hover #csgoText
{
    transition: 0.5s;
width: 96.5%;
}
*/

/*
#body
{
    background: linear-gradient(-50deg, #ee7752, #459df5, #8b2da1, #75212f);
    animation: gradient 7s infinite;
    background-size: 400% 400%;
}

@keyframes gradient
{
0%{background-position: 0% 50%;}
50%{background-position: 100% 50%;}
100%{background-position: 0% 50%;}}
*/