@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@keyframes dlcTextAnimation {
    0% {margin-top: -10%;}
    100%{margin-top: 0%;}
}
 


#dlcText
{
    position: relative;
    animation-timing-function:ease-in;
    animation-name: dlcTextAnimation;
    animation-duration: 1s;
}


.dropdown-content{
position: absolute;
border: 3px solid black;
width: 15%;
height: 15%;
z-index: 1;
margin-top: auto;
margin-left: -12px;
}
#scrollUp{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
    width: 10%;
    height: 10%;
    margin-bottom: -3%;
    text-align: center;
    font-size: 30px;
    border: 3px solid #242222;
    border-radius: 30%;
}
#scrollUp:hover{
background-color: #ffc252;
margin-bottom: -2%;
}

.hoverGame>img{
    border: 2px solid #242222;
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
    transition: 0.5s;
    margin-bottom: 10%;
}
.aboutGame{
    font-size: 30px;
}
@keyframes scrollUpA{
 50%{height: 3%;}
 75%{height: 4%;}
 100%{height: 10%;}
}
#logo{
filter: invert(1);
}
.button-lg:hover{
    padding: 10% !important;
}
#review{
    font-size: 40px;
}

#dlcButton, #pictureButton, #dropdownButton, #infoButton{
    transition: 0.5s;
}
#dlcButton:hover, #pictureButton:hover, #dropdownButton:hover, #infoButton:hover{
    padding: 1.2% !important;
    transition: 0.5s;
}
#menu{
    height: 1%;
    width: 5%;
    
}
.bi-list{
    filter: invert(1) !important;
}
.imgText{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.pointer{
    cursor: pointer;
}
.csgoBackground{
    background-image: url("../image/csgo/image_csgo1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.blurBackground
{
    width: 100%;
    height: 100%;
    filter: blur(3px);
}
.boxSizingGame
{
    
    max-width: 100%;
    max-height: 270px;
    min-height: 270px;
    margin-top: 3%;
}

.nameElement
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    bottom: 0;
    padding: 0.5%;
    width: 80%;
    z-index: -1;
    text-align: center;
    border: solid 2px #242222;
    border-radius: 10px;
    font-size: 21px;
    font-family: 'Noto Sans JP', sans-serif;
    color: black;
    overflow: hidden;
}
.hoverGame:hover .nameElement
{
    transition: 0.5s;
    background-color: orange;
    z-index: 1;
    
}
.hoverGame
{
    transition: 0.5s;
    transform: scale(0.95);
}
.hoverGame:hover
{
    transform: scale(1);
    transition: 0.5s;
    filter: saturate(2)
}



.loginForm
{
    padding-top: 1%;
    padding-left: 4%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: #242222;
    width: 45%;
    height: 50%;
    margin-top: 10%;
    margin-left: 25%;
    border: solid 3px;
    border-radius: 20%;
    overflow: auto;
    box-shadow: 5px 5px;
    display: none;
}
.loginButton
{
    background-color: #ffa500;
    border: 1px black solid;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    transition: 0.5s;
}
.loginButton:hover, .loginFormButton:hover
{
    background-color: #ffc252;
    transition: 0.5s;
}
.inputLogin
{
background-color: #242222;
border-right: #242222;
border-bottom: white  solid;
border-radius: 3px;
width: 100%;
padding: 3%;
margin-bottom: 5%;
}
.inputLogin:focus
{
    background-color: orange;
    transition: 0.5s;
}
.loginItems 
{
    background-color: #242222;
    width: 90%;
    margin-top: 1%;
    padding: 2%;
    color: white;
    height: 80%;
    font-family: 'Noto Sans JP', sans-serif;
}
.loginFormFont{
    color: orange;
    border-bottom: 1px orange solid;
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Noto Sans JP', sans-serif;
}
/*This button is used to turn on Login Form*/
.loginFormButton{
font-family: 'Noto Sans JP', sans-serif;
font-size: 18px;
border: 0px solid white;
border-radius: 3px;
padding-left: 20%;
padding: 1%;
background-color: orange;
margin-top: 1%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
transition: 0.5s;
}
.loginFormButtonHolder{
    width: 100%;
    height: 50%;
}


.bg-orange{
    background-color: orange;
}
#dbdHtml, #csgoHtml{
    cursor: pointer;
}
.footerBorder{
 border: 2px solid #242222; 
 border-radius: 10px;   
 font-family: 'Noto Sans JP', sans-serif;
 text-decoration: none;
}

.drpdown{
    z-index: 1;
    margin-left: -1%;
    padding-left: 3%;
    margin-top: 1%;
    position: absolute;
    height: 17.5%;
    background: orange;
    border: 2px solid #242222; 
    display: none;
    overflow: hidden;
    cursor: default;
    font-family: 'Noto Sans JP', sans-serif;
    overflow: auto;
}
.categoryTypeButton{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    position: relative;
    display: block;
    width: 120%;
    z-index: 2;
    border: 2px solid;
    margin-top: 5%;
    margin-left: -30%;
    padding-top: 10%;
    background: orange;
    
}
.categoriesButton{
    
    border: 0px solid white;
    border-radius: 3px;
    padding-left: 20%;
    padding: 1%;
    background-color: orange;
    margin-top: 1%;
    font-family: 'Noto Sans JP', sans-serif;
    transition: 0.5s;
    
    }
.footerClassBottom
{
    bottom: 0;
    position: fixed;
    width: 100%;
}
::-webkit-scrollbar
{
    width: 10px;
    background: rgba(0, 0, 0, 0.5)
}
::-webkit-scrollbar-thumb
{
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
}
